h1{
    font-family: Cambria,Times,serif;
    color: #1F497D;
    background-color: #BFBFBF;
    text-align: center;
}
h2{
    font-family: Cambria,Times,serif;
    color: #632423; 
}
li{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-style: italic;
}
span{
    font-weight: bold;
    text-decoration: underline;
}
.contenedor{
    width: 70%;
    max-width:1000px;
    margin: 15px;
}
img{
    width: 200px;
    height: 240px;
    border: 4px solid gray;
    border-radius: 5%;
    float: right;
    margin-right: 20px;
}