h1{
    font-family: Cambria,Times,serif;
    color: #1F497D;
    background-color: #BFBFBF;
    text-align: center;
}
h2{
    font-family: Cambria,Times,serif;
    color: #632423; 
}
li{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-style: italic;
}
span{
    font-weight: bold;
    text-decoration: underline;
}